<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="pico.min.css" />
  </head>
  <body>
    <main class="container">
      <h1>Add a new message</h1>
      <% if (locals.errors) { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <form method="POST" action="/new">
        <fieldset>
          <label
            >Name
            <input
              name="name"
              placeholder="John Doe"
              value="<%= locals.oldInput ? oldInput.name : '' %>"
          /></label>
          <label
            >Message
            <input
              name="message"
              placeholder="Hey there!"
              value="<%= locals.oldInput ? oldInput.message : '' %>"
          /></label>
        </fieldset>
        <button type="submit">Send message</button>
      </form>
    </main>
  </body>
</html>
